
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: 'Avenir','Helvetica Neue', Helvetica, Arial, sans-serif; 
}

a, a:hover {
  text-decoration: none;
}

.childPage {
  padding-top: 10rem;
  margin-bottom: 10rem;
}

#map {
  height: 100%;
}

.oneColPage {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

.twoColPage {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.halfColPage {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
}


.themeRow {
  display: flex;
  justify-content: space-between;
}


nav {
  margin-top: 30px;
}

label {
  margin-top: 10px;
}


/* COLOR SWATCH 

DARK DARK GRAY: #1A1A1A;
DARK GRAY : #A9A9A9
LIGHT GRAY : #D3D3D3
LIGHT LIGHT : #F2F2F2;

****************/
/************ TYPOGRAPHY  ************/
h1 {
  font-size: 5rem;
  font-weight: 800;
}
h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.pageTitle {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 800;
}


/************ HEADER  ************/
.headerBar {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.headerTitle {
  width: 50%;
  margin-left: 10%;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.headerTitle a {
  color: #1A1A1A;
  text-decoration: none;
}

.headerBtns {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%
}
.headerBtn {
  padding: 0 20px;
}

.hide {
  display: none;
}

/************ MAIN NAV  ************/
.mainNav {
  color: #D3D3D3;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.9rem;
  font-weight: lighter;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5.5rem;
  z-index: 101;
}
.mainNav a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: #808080;
  font-weight: bold;

}
.mainBtn a:hover, .mainBtn:hover {
  background-color: tomato;
  color: white;
  background-image: url(../assets/lArrow_transparent.png), url(../assets/rArrow_transparent.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 7%, 7%;
  background-position: 27% center, 73% center;
}

.sideBtn.addNew a:hover, .sideBtn.addNew:hover {
  background-color: black;
}
.mainNav a:hover {
  text-decoration: none;
}
.mainBtn {
  width: 65%;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}



.sideBtn {
  width: 20%;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #D3D3D3;
}

.home.sideBtn:hover {
  background-color: black;
  background-image: url(../assets/rArrow.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 5% center;
}

/************ FRONT PAGE  ************/
.mainTitle {
  padding-top: 5rem;
}
.theme a {
  color: #A9A9A9;
  text-decoration: none
}
.theme li:hover {
  background-color: black;
  background-image: url(../assets/rArrow.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 103% center;
  color: #D3D3D3;
}
.themeBtnLink {
  width: 30%;
}
.themeBtn {
  height: 30px;
  display: flex;
  align-items: center;
}

.cityNameTitle {
  color: #A9A9A9;
}

.themeBox {
  width: 100%;
}

.theme {
  list-style-type: none;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.9rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.theme li {
  min-width: 45%;
  padding: 10px 10px;
  margin-bottom: 5rem;

  border-bottom: 1px solid #DCDCDC;
}
/************ SEARCHBOX  ************/
.input-group .form-control:first-child {
  border-radius: 0;
}
.input-group-btn:last-child > .btn {
  border-radius: 0;
}
.form-control.frontPage {
  height: 5rem;
  background-color: black;
  color: #D3D3D3;
  font-size: 1.9rem;
  font-weight: lighter;
  border: none;
}
.btn.frontPage {
  background-color: black;
  height: 5rem;
  color: #A9A9A9;
  font-size: 3rem;
  font-weight: bolder;
  padding: 0 30px;
  background-image: url(../assets/rArrow.png);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 10% center;
}


.searchBox {
  margin-top: 7rem;
  width: 100%;
}





/************ POST NEW PAGE  ************/
.dropZone {
  height: 100px;
  border: 1px solid gray;
  border-style: dashed;
  padding: 5px;
}

#imageContainer{
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row wrap; /* Safari */
  flex-flow:         row wrap;
  -webkit-align-items: flex-start; /* Safari */
  align-items:         flex-start;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
}

.imagePreview {
  display: inline-block;
  width: 250px;
  margin-top: 15px;
}
#buttonNew{
  margin-top: 5px;
}
.error {
  color: red;
  padding-bottom: 5px;
}

.errorMessage{
  color:red;
}
.locationInput {
  margin-bottom: 20px;
}
/************ COMMENTS  ************/
.commentList{
  display: block;
  margin-top: 5px;
  padding: 5px;
  border: solid;
  border-radius: 2px;
}
.listItems{
  display: inline;
}

/************ POST LIST PAGE  *****************************/
.gMap {
  width: 100%;
  height: 400px;
  padding-top: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 50;
}
.listBox {
  margin-top: 390px;
}
.thumbNail {
  position: relative;
  width: 14%;
  height: 0;
  padding-bottom: 14%;
  float: left;
  margin-right: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -7px;
  overflow: hidden;
  border-radius: 50% 50%;
  background-size: cover;
  background-position: center;
}

.listContents {
  padding-top: 2%;
}

.postLists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}
.postLists li {
  width: 47%;
  max-width: 768px;
  min-width: 414px;
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 20px;
}
.listTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1A1A1A;
}
.listText {
  font-size: 1.5rem;
  color: #A9A9A9;
}

.clearf:after {
  clear: both;
  content: "";
  display: block;
}

.custumNum {
  margin-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.custumNum li {
    counter-increment: step-counter;
}
.custumNum li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 7rem;
    color: #D3D3D3;
    font-weight: 800;
    float: left;
    margin-right: 30px;
    line-height: 1.2;
}

/************ INFO PAGE  ************/
.social-share-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imageSlide {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #D3D3D3;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  border-bottom: 1px solid #D3D3D3;
}
.detailBox {
  width: 55%;
}
.gMapSmall {
  width: 40%;
  height: 300px;
}
.editBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.likeBtn {
  display: flex;
  align-items: center;
}
.likesNum {
  color: #A9A9A9;
  font-weight: bold;
  font-size: 3rem;
  margin-right: 10px;
}

/*********** IMAGE SLIDE ************/
@font-face {
  font-family: "Ionicons";
  src: url("//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0");
  src: url("//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.0") format("woff"), url("//cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .image-gallery.fullscreen-modal {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5; }
    .image-gallery.fullscreen-modal .image-gallery-content {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }

.image-gallery-content {
  top: 0; }
  .image-gallery-content.fullscreen {
    background: #000; }

.image-gallery-slide-wrapper {
  position: relative; }

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
  cursor: pointer;
  position: absolute;
  z-index: 4; }
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before,
  .image-gallery-left-nav::before,
  .image-gallery-right-nav::before {
    color: #fff;
    line-height: .7;
    text-shadow: 0 2px 2px #1a1a1a;
    transition: color .2s ease-out; }
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before,
  .image-gallery-left-nav:hover::before,
  .image-gallery-right-nav:hover::before {
    color: #337ab7; }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button:hover::before,
      .image-gallery-play-button:hover::before,
      .image-gallery-left-nav:hover::before,
      .image-gallery-right-nav:hover::before {
        color: #fff; } }

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0; }
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before {
    font-size: 1.7em;
    padding: 15px 20px;
    text-shadow: 0 1px 1px #1a1a1a; }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button::before,
      .image-gallery-play-button::before {
        font-size: 1.4em; } }
    @media (max-width: 480px) {
      .image-gallery-fullscreen-button::before,
      .image-gallery-play-button::before {
        font-size: 1em; } }
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before {
    color: #fff;
    transform: scale(1.1); }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button:hover::before,
      .image-gallery-play-button:hover::before {
        transform: none; } }

.image-gallery-fullscreen-button {
  right: 0; }
  .image-gallery-fullscreen-button::before {
    content: ""; }
  .image-gallery-fullscreen-button.active::before {
    content: ""; }
  .image-gallery-fullscreen-button.active:hover::before {
    transform: scale(0.9); }

.image-gallery-play-button {
  left: 0; }
  .image-gallery-play-button::before {
    content: ""; }
  .image-gallery-play-button.active::before {
    content: ""; }

.image-gallery-left-nav,
.image-gallery-right-nav {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 5em;
  outline: none;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%); }
  .image-gallery-left-nav[disabled],
  .image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }
  @media (max-width: 768px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      font-size: 3.4em; } }
  @media (max-width: 480px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      font-size: 2.4em; } }

.image-gallery-left-nav {
  left: 0; }
  .image-gallery-left-nav::before {
    content: ""; }

.image-gallery-right-nav {
  right: 0; }
  .image-gallery-right-nav::before {
    content: ""; }

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap; }

.image-gallery-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; 
  max-height: 600px;
}
  .image-gallery-slide.center {
    position: relative; }
  .image-gallery-slide img {
    width: 100%; }
  .image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    bottom: 70px;
    color: #fff;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal; }
    @media (max-width: 768px) {
      .image-gallery-slide .image-gallery-description {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px; } }

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4; }
  .image-gallery-bullets .image-gallery-bullets-container {
    margin: 0;
    padding: 0;
    text-align: center; }
  .image-gallery-bullets .image-gallery-bullet {
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #1a1a1a;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    outline: none;
    padding: 5px; }
    @media (max-width: 768px) {
      .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px; } }
    @media (max-width: 480px) {
      .image-gallery-bullets .image-gallery-bullet {
        padding: 2.7px; } }
    .image-gallery-bullets .image-gallery-bullet.active {
      background: #fff; }

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0; }
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap; }

.image-gallery-thumbnail {
  display: inline-block;
  padding-right: 5px; }
  .image-gallery-thumbnail img {
    border: 4px solid transparent;
    transition: border .3s ease-out;
    vertical-align: middle;
    width: 100px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnail img {
        border: 3px solid transparent;
        width: 75px; } }
  .image-gallery-thumbnail.active img {
    border: 4px solid #337ab7; }
    @media (max-width: 768px) {
      .image-gallery-thumbnail.active img {
        border: 3px solid #337ab7; } }

.image-gallery-thumbnail-label {
  color: #1a1a1a;
  font-size: 1em; }
  @media (max-width: 768px) {
    .image-gallery-thumbnail-label {
      font-size: .8em; } }

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4; }
  @media (max-width: 768px) {
    .image-gallery-index {
      font-size: .8em;
      padding: 5px 10px; } }
