html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

#wrapper {
  width: 50%;
  margin: 100px auto;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.theme {
  margin-top: 20px;
  margin-bottom: 30px;
}

nav {
  margin-top: 30px;
}

/************ POST NEW PAGE  ************/
#imageContainer{
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-flow: row wrap; /* Safari */
  flex-flow:         row wrap;
  -webkit-align-items: flex-start; /* Safari */
  align-items:         flex-start;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
}

.imagePreview {
  display: inline-block;
  width: 250px;
  margin-top: 15px;
}
#buttonNew{
  margin-top: 5px;
}
